llama-index
llama-index-readers-web
python-dotenv
langchain
langchain_community
httpx
requests
openai
trafilatura
slack-bolt
urllib3
bs4
requests
html2text
feedparser
validators
Flask-APScheduler
EbookLib
PyPDF2
docx2txt
azure-cognitiveservices-speech
langdetect
youtube-transcript-api
pypdf
Werkzeug
anthropic[bedrock]
